body {
  font-family: sans-serif;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.photobooth-container {
  position: relative;
  width: 60vmin;
  max-width: 588px;
  aspect-ratio: 588 / 735;
  background: #D5E8EB;
  overflow: hidden;
}