body {
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
}

h1{
  text-align: center;
}

canvas {
  display: none;
}
button {
  border: 0;
  outline: none;
  background: #1f7e9d70;
  color: #000000;
  border-radius: 24px;
  cursor: pointer;

}

.camera-ctn {
  position: relative;
  background: #000000;
}
.camera-view video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  transform: scaleX(-1);
}

.photobooth-container{
  display: block;
  margin: 0 auto;
}

video{
  display: block;
  margin: 0 auto;
}

/* CAMERA BOTTOM */
.camera-bottom {
  height: 250px;
  background: #00000050;
  position: absolute;
  inset: 0;
  top: auto;
  padding: 0 5%;
  display: grid;
  place-items: center;
}
.camera-bottom > .inner {
  display: grid;
  place-items: center;
  max-width: 500px;
}

.photostrip{
  display:flex;
  flex-direction: column;
  gap:10px;

  margin: 50px;
}

.images{
  display: flex;
  align-items: center;
}

.photobooth-container{
  display: flex;
  align-items: center;
  margin: 50px;
}

.button-line{
  display: inline-block;
  padding: 100px;
  text-align: center;
}

/* SHUTTER CONTAINER */
.shutter-ctn {
  width: 100%;
}
.shutter {
  height: 80px;
  width: 80px;
  background: #FFFFFF;
  border-radius: 50%;
}
.shutter:active {
  transform: scale(0.8);
}
.switch-device {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}