body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;

  background-image: url("images/background.PNG");
  border: 1.5vw #C13B3C double;
}

header{
  background-color: #C13B3C;
  margin-bottom: 50px;
  display: grid;
}

h1{
  text-align: center;
  color:#FFFFFF;
  margin-bottom: 0;
}

h3{
  text-align: center;
  color:#FFFFFF;
}


canvas {
  display: none;
}

.camera-ctn {
  position: relative;
  background: #000000;
}
.camera-view video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  transform: scaleX(-1);
}

video{
  display: block;
  margin: 0 auto;

  position: relative;
  top: -60px;

  border: 5px #C13B3C solid;
  border-radius: 2px;
}

/* CAMERA BOTTOM */
.camera-bottom {
  height: 250px;
  background: #00000050;
  position: absolute;
  inset: 0;
  top: auto;
  padding: 0 5%;
  display: grid;
  place-items: center;
}
.camera-bottom > .inner {
  display: grid;
  place-items: center;
  max-width: 500px;
}


.photostrip{
  display:flex;
  flex-direction: column;
  gap:4px;


  position: relative;
  top: 0;
  left: 0;
}

.frame{
  position: absolute;
  top: -4.5px;
  left: -4px;
}

.images{
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  
}

.photobooth-container{
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;

}

.countdown{
  z-index: 100;
  color: #C13B3C;

  align-items: center;
  justify-content: center;
  text-align:center;
  
  font-size: 1.697rem;
  font-weight: 400;
  line-height: 1;
  pointer-events: none;
  transition: none;

  height:100px;
  width:100px;

  display: flex;
  position: relative;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

#strip {
  box-sizing: border-box;
  overflow: visible !important; /* Prevents clipping */
}

/* SHUTTER CONTAINER */
.shutter-ctn {
  width: 100%;
}

.switch-device {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

/*buttons*/
.next-prev{
  top: 100px;
  height: 40px;
  width: 80px;
}

.filter-bttn{
  width: 40px;
  height: 40px;
  top:-7px
}

button{
  position: relative;
  height: 40px;
  width: 80px;
  cursor: pointer;

  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
button:hover{
  border-color: rgba(255,255,255,1);
  
}
@media all and (max-width:30em){
  .next-prev{
  display:block;
  margin:0.2em auto;
  }
}

.buttons-grid{
  display: grid;
  grid-template-columns:100px auto;
  grid-template-rows: 50px auto;
}
